# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.cs]
# インデント数: 4
indent_size = 4

[*.{csproj,xml,json,resx,yml,vue,ts}]
indent_size = 2