[submodule "Reactor"]
	path = Reactor
	url = https://github.com/Shota-Sunada/Reactor
[submodule "Submerged"]
	path = Submerged
	url = https://github.com/Shota-Sunada/Submerged
[submodule "Impostor"]
	path = Impostor
	url = https://github.com/Shota-Sunada/Impostor
